* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
}

header {
	display: flex;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 30px 0px;
	height: 150px;
	justify-content: center;
	align-items: center;
}

#icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
}

nav {
	display: flex;
	justify-content: center;
	padding: 10px 0px;
	background-color: #444;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

nav a:hover {
	border-radius: 10px;
	background-color: #555;
}

.me {
	color: white;
	background-color: #50b3a2;
	padding: 60px 0px;
	text-align: center;
}

.me h1 {
	margin-bottom: 23px;
	font-size: 2.5em;
}

.container {
	margin: auto;
	overflow: hidden;
	width: 100%;
}

.section {
	margin-left: 50px;
	margin-right: 50px;
}
.section h2 {
	margin-top: 50px;
}

h2 {
	text-align: center;
	margin-bottom: 15px;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	max-width: 200px;
	background-color: white;
	border-radius: 7px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	flex-wrap: wrap;
	width: calc(40% - 30px);
	overflow: hidden;
}

.card progress {
	width: 90px;
}

.card:hover {
	transform: scale(1.05);
}

#projects {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: auto;
	gap: 20px;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

.project {
	position: relative;
	width: 200px;
	height: 100px;
	margin: 10px;
	border: 1px solid #ddd;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	box-sizing: border-box;
	transition: transform 0.3s, box-shadow 0.3s, max-width 0.3s;
	transform-origin: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 calc(33% - 20px);
	max-width: calc(33% - 20px);
}

.project:hover h3 {
	opacity: 0;
}

.project .description {
	position: absolute;
	display: grid;
	justify-content: space-around;
	background: rgba(255, 255, 255, 0.75);
	color: rgb(0, 0, 0);
	padding: 10px;
	opacity: 0;
	transition: opacity 0.3s;
	max-height: 100%;
	overflow-wrap: auto;
}

.description img {
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

.project:hover {
	width: 700px;
	height: 590px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project:hover .description {
	opacity: 1;
}

@media (max-width: 800px) {
	.project {
		flex: 1 1 calc(100% - 20px);
		max-width: calc(100% - 20px);
	}
}

#contact {
	margin: 80px;
	text-align: center;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	text-align: center;
	height: 150px;
	padding: 30px 0px;
}

body.dark-mode {
	background-color: #272727;
	color: #f4f4f9;
}

.dark-mode .section,
.dark-mode .container {
	background-color: hsl(0, 0%, 35%);
	color: #f4f4f9;
}
.dark-mode .card {
	background-color: hsl(0, 0%, 20%);
	color: #f4f4f9;
}

.dark-mode .project {
	background-color: hsl(0, 0%, 20%);
	border: 1px solid hsl(0, 0%, 33%);
	color: #f4f4f9;
}

.dark-mode .description {
	background-color: hsla(0, 0%, 29%, 0.75);
	color: #f4f4f9;
}
